<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="popup.css">
    <title>Popup</title>
  </head>
  <body>
    <div id="activity-indicator">
      <svg class="circular">
        <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="5" stroke-miterlimit="10"></circle>
      </svg>
    </div>
    <div id="popup"></div>
  </body>
  <script src="popup.js"></script>
</html>
